@font-face {
  font-family: "musicnet";
  src: url("/MUSICNET.ttf");
}

html {
  background: black;
  color: #ffa;
  text-shadow: 0 0 1vw #ff0;
  font-family: "musicnet";
  font-size: 9vw;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: middle;
  height: 90vh;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, text-shadow 0.5s;
}

a:hover {
  text-shadow: 0 0 2vw #ff8;
  color: white;
}
