{{ define "main" }}
<link
  rel="preload"
  href="pictures/small-minds-round-min.png"
  as="small-minds-min"
/>

<main>
  <h1 id="page-title">Small Minds</h1>
  <h2 id="page-subtitle">Software Development</h2>
  <img
    id="small-minds-image"
    alt="Small Minds Logo"
    src="pictures/small-minds-round-min.png"
  />

  <div id="intro">
    <p>
      <b>Small Minds</b> is a software engineering consultancy specializing in
      thoughtful embedded and full-stack product delivery and augmentation.
    </p>

    <p>You can find our tools and frameworks on Github.</p>
  </div>

  <br />
  <a id="gh-link-a" target="_blank" href="https://github.com/Small-Minds">
    <h3 id="gh-link">Our Open Source Work</h3>
  </a>
</main>
{{end}}
