/* Fonts */

@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/source_serif_pro/SourceSerifPro-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/source_serif_pro/SourceSerifPro-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/source_serif_pro/SourceSerifPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/ibm-plex-mono/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("fonts/ibm-plex-mono/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alata";
  src: url("fonts/alata/Alata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Style */

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  max-width: 100%;
  color: black;
  background: white;

  font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 20px;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Places where eyeballs go should be comfortable and serifed. */
p,
li,
tr,
td,
th,
button {
  font-family: "Source Serif Pro", Iowan Old Style, Apple Garamond,
    Palatino Linotype, Times New Roman, "Droid Serif", Times, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.4rem;
  -webkit-font-smoothing: antialiased;
  /* color: rgba(0, 0, 0, 0.7); */
}

#small-minds-image {
  width: 80%;
  margin: 10%;
}

#page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  font-family: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono",
    "Noto Mono", Menlo, Courier, monospace;
}

#page-subtitle {
  text-align: center;
  font-size: 1.1rem;
  color: gray;
  margin-top: 0;
  font-family: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono",
    "Noto Mono", Menlo, Courier, monospace;
}

#gh-link {
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  color: purple;
  font-family: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono",
    "Noto Mono", Menlo, Courier, monospace;
}

body {
  width: 600px;
  margin: 0 auto;
}
